<form #employeeForm="ngForm"  (ngSubmit)="saveEmployee(employeeForm)">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>

    <div class="panel-body">
      <div class="form-group" [class.has-error]="fullNameControl.invalid && fullNameControl.touched" [class.has-success]="fullNameControl.valid">
        <label class="control-label" for="fullName">Full Name</label>
        <input required id="fullName"   name="fullName"  [(ngModel)]="fullName"   type="text"
          class="form-control" #fullNameControl="ngModel"/>
          <span class="help-block" *ngIf="fullNameControl.invalid && fullNameControl.touched">
            Full name is required
          </span>
      </div>


      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" name="email" [(ngModel)]="email" type="text" class="form-control"   />

      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>

        <input
          id="phoneNumber" [(ngModel)]="phoneNumber"  type="text"  class="form-control" name="phoneNumber"/>
      </div>

      <div class="form-group">
        <label for="gender">Contact Preference</label>
        <div class="form-control">
          <label class="radio-inline">
            <input value="email"  type="radio"    name="contactPreference"   [(ngModel)]="contactPreference"/>

            Email
          </label>
          <label class="radio-inline">
            <input  type="radio"    name="contactPreference"  [(ngModel)]="contactPreference" value="phoneNumber"/>

            Phone
          </label>
        </div>
      </div>

      <div class="form-group">
        <label for="gender">Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <input  value="male"  type="radio"   name="gender"  [(ngModel)]="gender"/>

            Male
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" [(ngModel)]="gender" value="female"/>
            Female
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="form-control">
          <label class="checkbox-inline">
            <input value="male"  type="checkbox"  name="isActive"  [(ngModel)]="isActive"/>
            Is Active
          </label>
        </div>
      </div>

      <div class="form-group">
        <label for="department">
          Department
        </label>
        <select
          id="department"
          name="department"
          [(ngModel)]="department"
          class="form-control"
        >
          <option *ngFor="let dept of departments" [value]="dept.id">
            {{ dept.name }}
          </option>
        </select>
      </div>

      <div class="row">
        <div class="form-group col-md-5">
          <label for="dateOfBirth">Date of Birth</label>
          <input id="dateOfBirth" name="dateOfBirth" [(ngModel)]="dateOfBirth" placement="right"
          type="text" bsDatepicker [bsConfig]="datePickerConfig" class="form-control"/>
        </div>
      </div>


      <div class="form-group">
        <label for="photoPath">Photo Path</label>
        <input
          id="photoPath"
          name="photoPath"
          [(ngModel)]="photoPath"
          type="text"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <button
          type="button"
          (click)="togglePhotoPreview()"
          class="btn btn-primary">
         {{ previewPhoto? "Hide ": "Show " }}Preview
        </button>
      </div>
      <div class="form-group">
        <img [src]="photoPath" height="200" width="200" *ngIf="previewPhoto" />
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>

Angular Generated Form Model : {{ employeeForm.value | json }}
